@{
    ViewData["Title"] = "Home Page";
}


<header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Zenith Society Back End</h1>
        <p class="lead"> ASP.Net Core </p>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About this page</h2>
            <p class="lead">Zenith Society Administrators can add Events and Event Categories thru this web application. Information from this web app are served to Zenith Society clients.</p>

            <h3>The Leadership: </h3>
            <ul>
              <li>Clint Bock - CEO of Zenith Society and Co-Founder of the world renown Clickpics</li>
              <li>Matthew Li - President of Zenith Society and Co-Founder of the world's best: Clickpics</li>
              <li>Niko Arellano - Junior Software Developer</li>
            </ul>
          </div>
        </div>
      </div>
    </section>